<div *ngIf="header.visible">
  <app-header></app-header>
</div>

<section class="my-5 p-5">
  <h2 class=" white-text h1-responsive font-weight-bold text-center my-5">Welcome to my website</h2>
  <p class="white-text text-center w-responsive mx-auto mb-5">You can post whatever you like in this website, read others' posts and even comment on them. Join our community to share your experience!</p>
  <div style="text-align: center">
    <a routerLink="/guest" *ngIf="user.type === ''" class="btn blue btn-lg text-white">Explore</a>
    <a routerLink="/stream" *ngIf="user.type !== ''" class="btn blue btn-lg text-white">Explore</a>
    <a routerLink="/login" *ngIf="user.type === ''" class="btn red btn-lg text-white">Join Us</a>
  </div>
  <br>

</section>
